//about us sidan

.about-us{
    margin: 50px;
}

@media (max-width: 768px){
    .about-us{
        margin: 5px;
    }
    ul{
        width: 100%;
        li{
            padding-right: 0;
            margin-left: 0;
            
        }
    }
}