.footer{
    background-color: black;
    color: white;
   display: flex;
    justify-content: space-between;
    font-family: 'poppins', sans-serif;
    margin-top: 50px;
    a{
        color: white;
        text-decoration: none;
    }
}
.middle-footer{
    display: flex;
    justify-content: center;
    min-width: 50%;
}
.left-footer{
 
    padding: 20px;
}

.right-footer{
    padding: 20px;
    margin-top: 150px;
}

@media (max-width: 768px) {
    .footer{
        flex-direction: column;
        align-items: center;
    }
    .left-footer{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }
    .right-footer{
        margin-top: 20px;
    }
}