.movieContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    padding: 0;

  }
  
  .responsive-video {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .responsive-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    object-fit: cover; 
  }
  
  /* Anpassa för mobil */
  @media (max-width: 768px) {
    .responsive-video {
      max-width: 100%; /* 100% bredd för mobil */
    }

    .movieContainer {
      width: 100%;
    }
  }
  