//Egna sida, där sysn de resor som användaren har skapat
.trip-details{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-align: center;
}

.trip-details3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-align: center;
    input{
        width: 290px;
        height: 90px;
        margin-left: 5px;
    }
    
}

.weather-forecast{
  
  
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    h3{
        font-family: 'Poppins', sans-serif;
    }
    p{
        font-family: 'Poppins', sans-serif;
    }
}

.image-upload{
    width: 90%;
    height: auto;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    button{
        width: 45%;
    }
    input{
        width: 45%;
    }
   
    .trip-image{
        width: 90%;
        height: auto;
    }
    
}
img{
        width: 90%;
      
    };

    @media (max-width: 768px){
.image-upload{
    margin-left: 0px;
}

.trip-details3-under-map{
    padding: 20px;
}
    }