.product-carousel-container {
  margin: 28px;
  position: relative;
}

.product-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
   
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    margin-top: 85px;
    position: relative;
    overflow: hidden;
    
  }
  
  .product-slider {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 20px;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
    margin-left: 0;
    p{
      padding: 10px;
    }

    h3{
      padding: 10px;
      margin-top: 45px;
    }

    .button-cart{
      margin: 10px;
    }
 

  }
  
  .quantity-container{
    max-width: 120px;
    display: flex;
    justify-content: center;
    input{
      margin-top: 0;
      margin-left: 5px
    }
    
   }
  .product-item {
    flex: 0 0 calc((100% - ( 3 - 1 ) * 20px) /3); /* För 3 produkter per rad */
    padding: 0;
    margin: 0;
    box-sizing: border-box;

  
    img {
      width: 100%;
      height: auto;
      max-height: 200px;
      object-fit: cover;
     
    }
  }
  
  .carousel-button {
    position: absolute;
    top: 29%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10; 
  
    &.prev-button {
      left: 5px;
  
    }
   
  
    &.next-button {
      right: 5px;

    }
  
    svg {
      width: 25px;
      height: 25px;
      fill: black;
    }
  
    &:hover {
      background: #f0f0f0;
    }
  }
  
  @media (max-width: 768px) {
    .product-carousel{
        width: 100%;
     
        margin-right: 5px;
    }
    .product-item {
      flex: 0 0 100%; /* En produkt per rad */
    }

    .product-slider {
         /* Centrera produkterna */
    gap: 20; 
    text-align: center;

    p {
      margin: 0;
    }
       
      }

    .product-item {
        flex: 0 0 100%; 
        max-width: 100%; /* En produkt per rad */
        margin-left: 0;
      }
   
  }
  

