
//Förstasidan i shoppen
.imgContainer {
    position: relative;
    width: 100%;

    margin: 0 auto; 
    margin-bottom: 40px;
    .backgroundImage {
        width: 100%;
        height: auto; 
        display: block;
       
    }

    .homepageWords {
        position: absolute;
        top: 40%;
        left: 35%; 
        transform: translate(-50%, -50%); 
        color: black;
        text-align: center;
        padding: 10px 20px;
        border-radius: 10px; 
        font-size: 2.5rem; 
        font-family: "oswald", sans-serif;
    }
}


