.full-img{
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    z-index: -1;
 
}

.shop-title{
    text-align: center;
    font-size: 5em;
    margin-top: 350px;
    margin-bottom: 20px;
    margin-right: 455px;
}