.journey{
    margin-top: 20px;
}

.trip-container{
    min-height: 650px;
    width: 100%;
    display: flex;
    margin-bottom: 20px;
 
      display: flex;
  flex-direction: row;
}

.trip-detail-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.trip-detail-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}

.trip-details {
    display: flex;
    flex-wrap: wrap; /* Om du vill till책ta radbrytningar vid behov */
    gap: 5px; /* Avst책nd mellan elementen */
  }
  .trip-details p {
    margin: 0; /* Tar bort standardmarginaler */
  }

//delar varje resa med en linje

.trip-divider {
    display:block;
    height: 1px;
    background-color: #0a0707;
    border: none;
    border-top: 2px solid #0a0707; /* Stil p책 linjen */
    margin: 10px 0; /* Avst책nd runt linjen */
    z-index: 1;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.google-container{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logoutButton{
  
    width: 100px;
margin-left: 80%;
margin-right: 20px;
}
.trip-details2{
    text-align: center;
}

.trips-best{
    margin-top: 20px;
    margin-left: 40px;
}

.readMore{
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    
}

@media (max-width: 768px) {
.trip-container{
    flex-direction: column;
}
    .logoutButton{
        margin-left: 40%;
    }
    .trip-detail-left{
        margin-right: 0px;
       text-align: center;
        width: 100%;

    }
    .trip-detail-right{
        margin-right: 0px;
        margin-top: 60px;
        width: 100%;

    }
    .trips-best{
        margin-left: 0px;
        padding: 20px;
    }
    
}